<div class="row">
  <div class="col-md-10 col-xs-6 form-group">
    <input ng-enter="doSearch()" ng-change="doSearch()" ng-model="query" type="text" class="form-control"
           placeholder="Search video">
  </div>
  <button ng-click="doSearch()" class="col-md-2 col-xs-2 btn btn-default">Search</button>
</div>

<div class="row searchResult" ng-repeat="result in results">
  <div>
    <h3 class="col-md-12 col-xs-12">{{$index+1}}: {{result.vid_path}}</h3>
  </div>
  <div class="imageDiv col-md-12 col-xs-12">
    <span ng-repeat="frame in result.frames" ng-click="selectFrame($parent.$index, $index)">
        <img src="{{'images/'+ frame.frame_path}}">
    </span>
  </div>
  <div class="col-md-6 col-xs-6">
    <span class="row">Frame #{{selectedFrames[$index]+1}} was found at <b>{{convertTime(result.frames[selectedFrames[$index]].frame_sec) | date: 'mm:ss'}}</b></span>
    <span class="row"><b>description</b>: {{result.frames[selectedFrames[$index]].text}}</span>
  </div>
</div>
